html {
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #be99f5;
  cursor: pointer;
  transition: border-color 0.2s;
  background-color: #0f3460;
}
button:hover {
  border-color: #646cff;
  background-color: #646cff;
  color: aliceblue;
}

span > .borrar {
  cursor: pointer;
}
